* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  padding: 10px 16px;
}

.main-header > div {
  display: inline-block;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  vertical-align: middle;
}

.main-footer {
  background-color: black;
  color: white;
  margin-top: 48px;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer__link a {
  color: white;
  text-decoration: none;
}
.main-footer__link:hover,
.main-footer__link:active {
  color: #ccc;
}
.button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}
